<div class="row">
    <div class="col">
        <h1>Спасибо!</h1>
        <div>&nbsp;</div>
        <p><b>Письмо с&nbsp;индивидуальными кодами доступа к&nbsp;подписке на&nbsp;N21 Mobile</b> (а&nbsp;также с копией
            подписанного Вами Соглашения) <b>уже отправлено Вам на&nbsp;почту.</b></p>
        <p>Сохраните его, чтобы случайно не&nbsp;удалить&nbsp;&mdash; и&nbsp;сохранить возможность успешно
            воспользоваться полученными кодами доступа сейчас или в&nbsp;будущем.</p>
        <p>Остались вопросы? Пишите на&nbsp;электронную почту
            <a href="mailto:info_events@n21.com">info_events@n21.com</a>, мы&nbsp;с&nbsp;радостью ответим на&nbsp;них.
        </p>
        <div>&nbsp;</div>
        <p>С&nbsp;уважением, команда &laquo;Нетворк&nbsp;21&raquo;.</p>
    </div>
</div>
