<div class="row">
    <div class="col">
        <h1>Поздравляем!</h1>
        <p><b>Поздравляем, Вы&nbsp;успешно зарегистрировались на&nbsp;online
                <span class="text-nowrap">Уикенд-семинар</span> Network 21!</b></p>
        <div>&nbsp;</div>
        <p>Соглашение о&nbsp;переносе оплат билетов на&nbsp;офлайн <span class="text-nowrap">Уикенд-семинары</span> для
            участия в&nbsp;<b>online <span class="text-nowrap">Уикенд-семинаре</span> 12&ndash;14&nbsp;марта 2021</b>
            успешно подписано. Копия Соглашения в&nbsp;формате pdf будет отправлена Вам
            на&nbsp;<span class="text-nowrap">e-mail</span>.</p>
        <p>Отдельным письмом Вам на&nbsp;почту придет информационное письмо с&nbsp;кодом доступа и&nbsp;подробной
            инструкцией о&nbsp;том, как подключиться к&nbsp;трансляции семинара.</p>
        <p>Остались вопросы? Пишите на&nbsp;электронную почту
            <a href="mailto:info_events@n21.com">info_events@n21.com</a>, мы&nbsp;с&nbsp;радостью ответим на&nbsp;них.
        </p>
        <div>&nbsp;</div>
        <p>С&nbsp;уважением, команда &laquo;Нетворк&nbsp;21&raquo;.</p>
    </div>
</div>
