<div class="row">
    <div class="col">
        <h1>Поздравляем!</h1>
        <p><b>Вы&nbsp;успешно зарегистрировались на&nbsp;<span class="text-nowrap">online-форум</span>
                Free&nbsp;Enterprise&nbsp;2020!</b></p>
        <div>&nbsp;</div>
        <p>Соглашение о&nbsp;переносе оплат билетов на&nbsp;<span class="text-nowrap">Уикенд-семинары</span> для участия
            в&nbsp;<span class="text-nowrap">online-форуме</span> Free&nbsp;Enterprise&nbsp;2020 успешно подписано.</p>
        <p>Копия Соглашения в&nbsp;формате pdf будет отправлена Вам на&nbsp;<span class="text-nowrap">e-mail</span>.</p>
        <p>За&nbsp;3 дня до&nbsp;начала <span class="text-nowrap">online-форума</span> Вам на&nbsp;почту придет
            информационное письмо с&nbsp;подробной инструкцией о&nbsp;том, как подключиться к&nbsp;трансляции.</p>
        <p>Остались вопросы? Пишите на&nbsp;электронную почту <a
                    href="mailto:info_events@n21.com">info_events@n21.com</a>, мы&nbsp;с&nbsp;радостью ответим на&nbsp;них.
        </p>
        <p>С&nbsp;уважением, команда &laquo;Нетворк&nbsp;21&raquo;.</p>
    </div>
</div>
