<div class="row">
    <div class="col">
        <h1>Все в порядке!</h1>
        <p>Вы&nbsp;уже произвели все необходимые действия с&nbsp;билетами на&nbsp;несостоявшиеся WES. Чтобы ознакомиться с&nbsp;результатами этих действий, найдите в&nbsp;своей почте письма с&nbsp;подписанными Вами соглашениями от&nbsp;отправителя Network TwentyOne (info_events@n21.com).</p>
    </div>
</div>
