<% if(showPagination) { %>
    <nav aria-label="Page navigation" class="float-right">
        <ul class="pagination flex-wrap">
            <% for (var i = 0; i < pages; i++)  { %>
                <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                    <a class="page-link"
                       href="<%= pagePath %>offset=<%= i %>">
                        <%= i + 1 %>
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
<% } %>
