<div class="row">
    <div class="col">
        <h1 class="text-danger">Ошибка!</h1>
        <div>&nbsp;</div>
        <p>Кажется, что-то пошло не так.</p>
        <p>Пожалуйтса, свяжитесь с нами по электронной почте
            <a href="mailto:info_events@n21.com">info_events@n21.com</a>.
        </p>
        <div>&nbsp;</div>
        <p>С&nbsp;уважением, команда &laquo;Нетворк&nbsp;21&raquo;.</p>
    </div>
</div>
