<div class="row">
    <div class="col">
        <h1>Спасибо!</h1>
        <div>&nbsp;</div>
        <p>Доплата произведена успешно. Письмо с&nbsp;копией подписанного Вами Соглашения уже отправлено Вам на&nbsp;почту.
            <b>В&nbsp;ближайшие 10 дней</b>, после того как Ваша доплата будет обработана, на&nbsp;эту&nbsp;же почту
                поступит дополнительное <b>письмо с&nbsp;итоговым подтверждением оплаты билетов на&nbsp;летние
            <nobr>Уикенд-семинары</nobr>
                2021&nbsp;г. &mdash;&nbsp;и&nbsp;новым номером заказа.</b>
        </p>
        <p>Сохраните его, чтобы случайно не&nbsp;удалить: новый номер заказа может потребоваться Вам в&nbsp;будущем для
            сверки количества автоматически назначенных посадочных мест на&nbsp;летнем
            <nobr>Уикенд-семинаре</nobr>
            2021&nbsp;г. по&nbsp;оплаченным Вами в&nbsp;разное время билетам.
        </p>

        <p>Остались вопросы? Пишите на&nbsp;электронную почту
            <a href="mailto:info_events@n21.com">info_events@n21.com</a>, мы&nbsp;с&nbsp;радостью ответим на&nbsp;них.
        </p>
        <div>&nbsp;</div>
        <p>С&nbsp;уважением, команда &laquo;Нетворк&nbsp;21&raquo;.</p>
    </div>
</div>
