<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="robots" content="noindex, nofollow" />
    <title></title>
    <style>
        html, body {width:16cm; max-width: 16cm}
        .text-right {text-align: right}
        .text-center {text-align: center}
    </style>
</head>
<body>
<main class="container">
    <%- body %>
</main>
</body>
</html>
